<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi sono - Rosario Lettiero</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <a href="/" class="logo">Rosario
        <span>Lettiero</span></a>
        
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/chi-sono" class="active">Chi sono</a>
            <a href="/esperienze">Esperienze</a>
            <a href="/progetti">Progetti</a>
            <a href="/certificati">Certificati</a>
        </nav>
    </header>

    <!-- Sezione Chi sono -->
    <section class="chisono" id="chisono">
        <h2 class="heading">Chi sono</h2>
        
        <div class="chisono-content">
            <div class="chisono-text">
                <p>Mi chiamo Rosario Lettiero, sono un Junior Java Developer con una solida formazione in amministrazione, finanza e marketing.</p>
                <p>Ho conseguito un diploma presso l'Istituto Superiore Gaetano Filangieri e ho arricchito le mie competenze con corsi professionali in dattilografia digitale e certificazioni PEKIT EXPERT.</p>
                <p>Recentemente, ho completato un percorso formativo intensivo per Junior Java Developer,acquisendo competenze in programmazione a oggetti, sviluppo di applicazioni enterprise con Spring Boot e Hibernate, gestione di database relazionali con MySQL, e basi di HTML5, CSS3 e JavaScript.</p>
                <p>Sono appassionato di tecnologia e sviluppo software, e sono entusiasta di applicare le mie competenze in progetti reali e contribuire al successo del team.</p>
                <p>Se ti va di approfondire le mie esperienze lavorative scarica il mio CV qui:</p>
                <a href="CV Rosario Lettiero.pdf" download class="btn">Scarica CV</a>
            </div>
            
            <div class="chisono-img">
                <img src="/foto/rosario.jpeg" alt="Rosario Lettiero">
            </div>
        </div>
        
        <!-- Formazione -->
        <h2 class="heading" style="margin-top: 5rem;">Formazione</h2>
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-date">2016-2021</div>
                <div class="timeline-content">
                    <h3>Istituto Superiore Gaetano Filangieri</h3>
                    <p>Diploma Amministrazione, Finanza e Marketing</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-date">2022</div>
                <div class="timeline-content">
                    <h3>Attestato Dattilografia Digitale</h3>
                    <p>Corso sulla velocità e precisione nella digitazione e stesura di documentazione tecnica(corso professionale di 200 ore)</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-date">2022</div>
                <div class="timeline-content">
                    <h3>Certificato PEKIT EXPERT</h3>
                    <p>Conoscenza dei fondamenti dell'informatica e della  gestione dei dati</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-date">2025-2026</div>
                <div class="timeline-content">
                    <h3>Junior Java Developer</h3>
                    <p>Percorso formativo intensivo (500 ore). Back-end: Java, OOP, Design Patterns, Spring, Hibernate. Database: MySQL, SQL, JDBC. Front-end: HTML5, CSS3, JavaScript. Strumenti: Git, Agile/Scrum.</p>
                </div>
            </div>
        </div>
    </section>


    <script src="/JS/script.js"></script>
</body>
</html>


