<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contattami - Rosario Lettiero</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <a href="/" class="logo">Rosario
        <span>Lettiero</span></a>
        
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/chi-sono">Chi sono</a>
            <a href="/esperienze">Esperienze</a>
            <a href="/progetti">Progetti</a>
            <a href="/certificati">Certificati</a>
            <a href="/contattami" class="active">Contattami</a>
        </nav>
    </header>

    <!-- Sezione Contattami -->
    <section class="contact" id="contact">
        <h2 class="heading">Contattami</h2>
            
            <div class="social-icons" style="justify-content: center; margin-top: 2rem;"> 
                <a href="https://www.linkedin.com/in/rosario-lettiero-a4034a3b3" target="_blank"><i class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/rosariolettiero54" target="_blank"><i class='bx bxl-github'></i></a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=rosario.lettiero54@gmail.com" target="_blank"><i class='bx bx-envelope'></i></a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <p class="copyright">@2026 Rosario Lettiero. All rights reserved.</p>
    </footer>

    <script src="/JS/script.js"></script>
</body>
</html>
