<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progetti - Rosario Lettiero</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <a href="/" class="logo">Rosario
        <span>Lettiero</span></a>
        
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/chi-sono">Chi sono</a>
            <a href="/esperienze">Esperienze</a>
            <a href="/progetti" class="active">Progetti</a>
            <a href="/certificati">Certificati</a>
        </nav>
    </header>

    <!-- Sezione Progetti -->
    <section class="projects" id="projects">
        <h2 class="heading"><span>Progetti</span></h2>

        <div class="projects-container">

            <div class="project-card">
                <div class="project-img">
                    <i class='bx bx-code-alt'></i>
                </div>
                <div class="project-info">
                    <h3>Questboard</h3>
                    <p>Per questo progetto finale fatto in gruppo, mi sono occupato della progettazione e dello sviluppo dell'intera interfaccia utente
                     con l'obiettivo di creare un'esperienza fluida, scura in linea con l'estetica del mondo gaming e delle sale LAN.</p>
                    <p>Architettura a Componenti: Sviluppato con React, garantendo la massima riusabilità del codice e una manutenzione semplificata.</p>
                    <p>State Management & Navigation: Implementazione di React con navigazione veloce senza ricaricamenti di pagina.</p>
                    <p>UI/UX Moderna: Design responsive e utility-first realizzato con CSS, focalizzato sulla chiarezza visiva e sull'accessibilità su diversi dispositivi.</p>
                    <p>Gestione Dati in Real-time: Integrazione con API per la visualizzazione dinamica dei task, delle sottomissioni e del sistema di punteggio.</p>
                    <div class="project-tags">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>JavaScript</span>
                    </div>
                </div>
            </div>
          
      </section>

    <script src="/JS/script.js"></script>
</body>
</html>
